body{
    background-color: rgb(11, 11, 11);
}
.container1{
    display: flex;
    justify-content: space-around;
}
.container2{
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
}
.logo{
    border:solid #27ae60 1px;
    width: 20%;
    padding: 1%;
    margin-right: 180px;
    border-radius: 5px;
}
.about,.contactus,.help{
    border:solid #27ae60 1px;
    width: 18%;
    padding: 1%;
    border-radius: 5px;
}
h1{
    color: #f39c12;
    text-align: center;
}
#b{
    text-align: left;
}
.b1,.b2{    
    display: flex;
    justify-content: space-around;
    color: #2ecc71;
}
#img2{
    width: 200px;
}

.buyer,.seller{
    border: solid #e74c3c 1px;
    width: 40%;
    padding: 3%;
    border-radius: 5px;

}

